.about{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px 0px;

}
.about-heading
{
font-size: 3em;
padding: 30px 0px;
font-family: 'Neonderthaw', cursive;
}
.about-text{
    width:70%;
    text-align: center;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    /* padding-:40px; */
}
@media(max-width:768px){
    .about-heading
{
    font-size:24px;
}

}