.header{
    width:100%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.home-text-decoration{
    text-decoration: none;
    color:white;
}
.home-text-decoration:hover{
    color:rgb(235, 141, 12);
    cursor:pointer;
}
.header-image{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 141, 12);
   object-fit: cover;
}
.Founder-image {
    width: 45px;

    border-radius: 50%;
    margin-right: 30px;
}
.width-70{
    width: 80%;
    padding-top: 5%;
}
.text-align-left{
    text-align: start;
}
button{
    width:250px;
    height:60px;
    margin-left: 0.5%;
    margin-top: 7%;
    background-color:rgb(32, 32, 32);
    color:white;
    font-size: 18px;
    border:none;
}
button:hover{
    border:2px solid rgb(235, 141, 12);
    color:rgb(235, 141, 12);
    cursor: pointer;
}

.quote{
    width:30px;
}
.font-color-grey{
    color: rgb(83, 81, 81);
}
.name{
    font-weight: medium;
    font-size: 18px;
}
.founder-name{
   display: flex;
   flex-direction: column;
    justify-content: space-evenly;

}
.left-div{
    width: 50%;
    display: flex;
    /* background-color: gold; */
    flex-direction: column;
    /* padding: 5% 0%; */
    /* align-items:center; */
    justify-content: center;
    /* padding-left: 10%; */
    /* border: 1px solid black; */
    

}
 .left-image{
    padding-left: 5%;
    border-left:1px solid gainsboro;
   margin-left: 0.5%;
   margin-top: 3%;
   
}
.left-div .image-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.image-section{
    width:50%;
    height: 60vh;
   object-fit: fill;
    float: right;
    background-color: rgb(235, 141, 12);
  
}
.red-color{
    color:rgb(235, 141, 12);
    font-weight: bold;
    font-size: large;
    padding-left: 0.5%;
}
.font-size-40{
    font-size: 3em;
    text-align: start;
    padding-left: 0px;
    font-family: 'Neonderthaw', cursive;

}
@media(max-width:768px){

    .header{
        /* width: 100%; */
        flex-direction: column-reverse;
        justify-content: center;
    }
    .image-section{
        width:100%;
        height: 60vh;
      
      
    }
    .left-div{
        width: 80%;
        justify-content: flex-start;
         align-items:center;
         padding: 70px 10px;
    }
    .font-size-40{
        font-size: 4em;
    }
    .red-color{
        
      
        font-size: 11px;
      
    }
    .width-70{
        width: 100%;
        padding-top: 5%;
    }


}
@media(max-width:400px){
    button{
        width:250px;
        height:60px;
    }
    .left-div{
        width: 80%;
        justify-content: flex-start;
         align-items:flex-start;
         padding: 70px 10px;
    }
  
}