
.color-set{
    color:rgb(235, 141, 12);
    font-weight: bold;
    font-size: large;

}
.border-div{
    border-left:1px solid gainsboro;
}


.row.no-gutter [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}