*{
    margin:0px;
    padding:0px;
}
.productlist{
    
  font-family: 'Rubik', sans-serif;
}
.star{
    width: 25px;
}

.title{
    font-size:18px;
    font-weight: bolder;
}
.price{
    font-weight: bolder;
}
.product-image{
    width:300px;
}

.box-shadow-lg{
  
   box-shadow: 0px 5px 7px 0px rgb(235, 141, 12);
  
}


 